@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0a0a0c;
  --bg2: #111114;
  --bg3: #18181c;
  --bg4: #222228;
  --white: #fff;
  --ink: #f0f0f0;
  --ink2: #aaa;
  --ink3: #666;
  --ink4: #444;
  --acc: #e8390e;
  --acc2: rgba(232, 57, 14, 0.12);
  --grn: #34d399;
  --ylw: #fbbf24;
  --blu: #60a5fa;
  --pur: #a78bfa;
}

body {
  background: var(--bg);
  color: var(--ink);
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: var(--acc);
  color: #fff;
}
